<h1>Search#index</h1>
<p>Find me in app/views/search/index.html.erb</p>
<!-- app/views/search/index.html.erb -->
<% if @tracks %>
  <ul>
    <% @tracks.each do |track| %>
      <li>
        <%= track.name %> - <%= track.artists.first.name %>
      </li>
    <% end %>
  </ul>
<% end %>
